<div style="padding: 24px;">
  <div class="container">
    <div class="container-fluid">
      <div class="row" style="box-shadow: 0px 0px 5px 4px rgb(189, 189, 189);">
        <div class="col-lg-4" style="padding-left: 0;padding-right: 0;">
          <div style="margin: 0;padding: 0;">
            <img src="../assets/Images/HomeImage.JPG" alt="HomeImage" width="420px" height="645px">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="container">
            <div class="container-fluid">
              <div style="padding: 24px;">
                <div style="text-align: center; ">
                  <h1>Welcome</h1>

                  <h2>Signup with TYA Suite Account</h2>
                </div>
                <div style="text-align: center;">

                  <!-- Default form contact -->
                  <form [formGroup]="signUpForm">

                    <div>
                      <div class="row">

                        <div class="col-4">
                          <mat-form-field appearance="legacy">
                            <mat-label class="accent">Company Code</mat-label>
                            <input formControlName="companyCode" value="" matInput required
                              placeholder="Enter Company Code">
                          </mat-form-field>
                        </div>

                        <div class="col-4">
                          <mat-form-field class="example-full-width" appearance="legacy" required>
                            <mat-label class="accent">Company Title</mat-label>
                            <input formControlName="companyCode" value="" matInput required
                              placeholder="Enter Company Title">
                          </mat-form-field>
                        </div>

                        <div class="col-4">
                          <mat-form-field class="example-full-width" appearance="legacy" required>
                            <mat-label class="accent">CIN</mat-label>
                            <input formControlName="companyCode" value="" matInput required placeholder="Enter CIN">
                          </mat-form-field>
                        </div>

                      </div>
                      <br>
                      <div class="row">
                        <div class="col-4">
                          <mat-form-field appearance="legacy" required>
                            <mat-label>Company Limited By</mat-label>
                            <mat-select formControlName="companyLimitedBy" name="option1">
                              <mat-option *ngFor="let option of options" [value]="option.value">
                                {{option.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-4">
                          <mat-form-field appearance="legacy" required>
                            <mat-label>Nature of Company</mat-label>
                            <mat-select formControlName="companyNature" name="option2">
                              <mat-option *ngFor="let option of options" [value]="option.value">
                                {{option.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-4">
                          <mat-form-field class="example-full-width" appearance="legacy" required>
                            <mat-label class="accent">Authorise Capital</mat-label>
                            <input formControlName="authoriseCapital" value="" matInput required
                              placeholder="Enter Authorise Capital">
                          </mat-form-field>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-4">
                          <mat-form-field class="example-full-width" appearance="legacy" required>
                            <mat-label class="accent">Paid Up Capital</mat-label>
                            <input formControlName="paidUpCapital" value="" matInput required
                              placeholder="Enter Paid Up Capital">
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field class="example-full-width" appearance="legacy" required>
                            <mat-label class="accent">Object of Company</mat-label>
                            <input formControlName="objectOfCompany" value="" matInput required
                              placeholder="Enter Object of Company">
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field class="example-full-width" appearance="legacy" required>
                            <mat-label class="accent">GST IN Number</mat-label>
                            <input formControlName="gstNo" value="" matInput required placeholder="Enter GST IN Number">
                          </mat-form-field>
                        </div>
                      </div>
                      <br>
                      <div class="row" style="padding-left: 32px;">
                        <div class="col-4">
                          <mat-label class="accent" style="float: left;padding: 8px;">Company Having</mat-label>
                          <br>

                          <mat-radio-group aria-label="Select an option" formControlName="companyHaving">
                            <mat-radio-button value="Holding Company" style="float: left;">Holding Company</mat-radio-button>
                            <br>
                            <mat-radio-button value="Subsidary Company" style="float: left;">Subsidary Company</mat-radio-button>
                            <br>
                            <mat-radio-button value="both" style="float: left;">Both</mat-radio-button>

                          </mat-radio-group>

                        </div>
                        <div class="col-4" style="align-content: flex-start; float: left;padding: 8px;">
                          Types of Shares
                          <!-- <div>
                              <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" />
                                <label for="acceptTerms" class="form-check-label">Equity</label>
                              </div>
                              <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" />
                                <label for="acceptTerms" class="form-check-label">Preference</label>
                              </div>
                              <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" />
                                <label for="acceptTerms" class="form-check-label">Debantures</label>
                              </div>
                            </div> -->
                            <span>
                                <ul style="list-style-type: none; float: left;">
                                  <li *ngFor="let subtask of checkboxList">
                                    <mat-checkbox formControlName="typesOfShares"
                                                  [color]="subtask.color" style="float: left;">
                                      {{subtask.name}}
                                    </mat-checkbox>
                                  </li>
                                </ul>
                              </span>
                          <!-- <label formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
                              <mat-checkbox [formControlName]="i">  
                                {{webData[i].name}}
                              </mat-checkbox>
                              <br/>
                            </label> -->

                        </div>
                        <div class="col-4">
                            <mat-label class="accent" style="float: left;padding: 8px;">Listed</mat-label>
                            <br>
                            <br>
                            <mat-radio-group aria-label="Select an option" formControlName="companyHaving">
                                <div class="row">
                                    <mat-radio-button value="Yes" style="float: left;">Yes</mat-radio-button>

                                </div>
                              <div class="row">

                                  <mat-radio-button value="No" style="float: left;">No</mat-radio-button>
                              </div>
                              <br>
                              </mat-radio-group>
                        </div>

                      </div>
                      <br><br>

                      <!-- Send button -->
                      <div class="btn">
                        Sign Up
                      </div>

                      <div class="align-center font-small blue-text" style="padding-top: 10px;">
                        <a href="#" class="blue-text">Forgot Password?</a>
                      </div>
                    </div>
                  </form>
                  <!-- Default form contact -->
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>