<div style="padding: 24px;">
  <div class="container">
    <div class="container-fluid">
      <div class="row" style="box-shadow: 0px 0px 5px 4px rgb(189, 189, 189);">
        <div class="col-lg-4" style="padding-left: 0;">
          <div style="margin: 0;padding: 0;">
            <img src="../assets/Images/HomeImage.JPG" alt="HomeImage">
          </div>
        </div>
        <div class="col-lg-8">
          <form class="example-form">
            <mat-form-field class="example-full-width"  appearance="fill">
              <mat-label>Favorite food</mat-label>
              <input matInput placeholder="input" value="">
            </mat-form-field>
            </form>
            <button mat-button style="color: midnightblue;">Primary</button>
        </div>
      </div>
    </div>
  </div>
</div>