<div class="container">
    <div class="container-fluid">
        <div class="card">
            <div class="row"
                style="box-shadow: 0px 0px 5px 4px rgb(189, 189, 189);border-radius: 2%; position: relative;">
                <mat-card
                    style="width: 550px;height: 750px; margin: 0; padding: 8px; justify-content: center;align-items: center; ">
                    <div class="row" style="text-align: center;">
                        <mat-card-title style="padding-top: 16px;font-size: 16px;">
                            <span>Welcome to TYASuite</span>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div style="font-size: 11px;padding-bottom: 8px;line-height: 14px;">
                                <span>We are glad you are here! Our powerful suite is cloud <br> enabled so you focus on
                                    your business while we focus on helping <br> you run it.</span>
                                <br><br>
                                <span>
                                    <strong>
                                        Here are a few textures we think you are going to love
                                    </strong>
                                </span>
                            </div>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <div style="padding: 32px;">
                                <div class="row">
                                    <div class="col-3">
                                        <div style="float: right;" class="circle1"></div>
                                    </div>
                                    <div class="col-9">
                                        <div style="float: left;"><strong>Smart and Secure</strong></div>
                                        <div style="float: left;">Hosted on Most Secured Cloud Server with multi-layer security to your data.</div>
                                    </div>

                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-3">
                                        <div style="float: right;" class="circle2"></div>
                                    </div>
                                    <div class="col-9">
                                        <div style="float: left;"><strong>Smart and Secure</strong></div>
                                        <div style="float: left;">Hosted on Most Secured Cloud Server with multi-layer security to your data.</div>
                                    </div>

                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-3">
                                        <div style="float: right;" class="circle3"></div>
                                    </div>
                                    <div class="col-9">
                                        <div style="float: left;"><strong>Smart and Secure</strong></div>
                                        <div style="float: left;">Hosted on Most Secured Cloud Server with multi-layer security to your data.</div>
                                    </div>

                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-3">
                                        <div style="float: right;" class="circle4"></div>
                                    </div>
                                    <div class="col-9">
                                        <div style="float: left;"><strong>Smart and Secure</strong></div>
                                        <div style="float: left;">Hosted on Most Secured Cloud Server with multi-layer security to your data.</div>
                                    </div>

                                </div>

                            </div>
                        </mat-card-content>

                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>