<div class="container">
    <div class="container-fluid">
        <div class="card">
            <div class="row" style="box-shadow: 0px 0px 5px 4px rgb(189, 189, 189);border-radius: 2%; position: relative;">
                <mat-card style="width: 550px;height: 650px; margin: 0; padding: 8px; justify-content: center;align-items: center; ">
                        <div class="row" style="text-align: center;">
                        <mat-card-title style="padding-top: 16px;font-size: 16px;">
                            <span>Welcome to TYASuite</span>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div style="font-size: 11px;padding-bottom: 8px;line-height: 14px;">
                            <span>We are glad you are here! Our powerful suite is cloud <br> enabled so you focus on your business while we focus on helping <br> you run it.</span>
                          </div>
                        </mat-card-subtitle>
                        
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>